* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-container{
    grid-column: 1/ span 2;
    display: flex;
    justify-content: center;
}
.table-container{
    margin: 1%;
    grid-column: 1/ span 2;
    display: flex;
    flex-direction: column;
}
.table-actions{
    align-self: left; 
}
table {
    border-collapse: collapse;
    width: 100%;
    /* Adjusted width */
    /* Center the table */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Style for buttons */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-client{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.modify-client{
    background-color: #007bf0;
    border: none;
    color: white;
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.table-client-btn{
    background-color: #ff00dd;
    border: none;
    color: white;
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dialog-div{
    position: fixed;
    top: 25%;
    left: 40%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-popup{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff; 
}



.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.form-div{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    grid-column: 1/ span 2; 
    width: 500px;
    height: 400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.form-div-user{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.title-container{
    margin-top: auto;
    height: 50px;
    grid-column: 1/ span 2;
    display: flex;
    justify-content: center;
}

.h3-user{
    align-self: center;
}

form{
    align-self: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-bottom: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}